:root {
    --ui-white: #FFFFFF;
    --ui-dark: #203842;
    --ui-dark-half: rgba(32, 56, 66, .5);
    --ui-darkest: #190922;
    --ui-dark-hover: #49799A;
    --ui-red: #F52341;
    --ui-red-hover: #FF6177;
    --ui-red-secondary: #DC243E;
    --ui-red-tertiary: #C81C35;
    --ui-gray: #C8D2D9;
    --ui-gray-hover: #E3E8EB;
    --ui-gray-secondary: #7C909C;
    --ui-gray-tertiary: #EFF3F9;
    --ui-green: #84A35A;
    --ui-green-hover: #9BBA70;
    --ui-eggplant: #2A0042;
    --ui-purple: #3F1955;
    --ui-violet: #462A6B;
    --ui-gold: #FCAA2F;
}
