@import "../../assets/styles/mixins/mixins";

.CallMeModal {
    @include media($mobile) {
        width: 296px;
    }
    @include media($tablet) {
        width: 360px;
    }
    @include media($desktop) {
        width: 264px;
    }
    @include media($large) {
        width: 320px;
    }

    &__wrap {
        .ant-modal-body {
            @include media($mobile) {
                padding: 44px 16px;
            }
            @include media($tablet) {
                padding: 56px 28px;
            }
            @include media($desktop) {
                padding: 48px;
            }
            @include media($large) {
                padding: 56px 48px 48px;
            }
        }
    }

    &__phone-input {
        @include media($mobile) {
            width: 296px;
            margin-bottom: 24px;
        }
        @include media($tablet) {
            width: 360px;
            margin-bottom: 28px;
        }
        @include media($desktop) {
            width: 264px;
            margin-bottom: 20px;
        }
        @include media($large) {
            width: 320px;
            margin-bottom: 28px;
        }
    }

    &__submit {
        height: 32px;
        @include media($large) {
            height: 36px;
        }
    }

}