@import "../../../../assets/styles/mixins/mixins";

.CitySelector__modal {
    @include media($mobile) {
        min-width: 300px;
    }
    @include media($tablet) {
        min-width: 385px;
    }

    .logo-wrapper {
        display: flex;
        flex-direction: column;

        svg {
            width: 88px;
            height: 28px;
        }
    }

    .title {
        @include fontTitle5;
        color: var(--ui-dark);
        margin-bottom: 20px;
        @include media($large) {
            margin-bottom: 24px;
        }
    }

    &-wrap {
        .ant-modal-body {
            @include media($mobile) {
                padding: 22px 16px;
            }
            @include media($tablet) {
                padding: 22px 28px 28px;
            }
            @include media($desktop) {
                padding: 22px 20px 20px;
            }
            @include media($large) {
                padding: 22px 28px 28px;
            }
        }
    }

    .search-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        background: var(--ui-gray-hover);
        border-radius: 4px;
        @include media($mobile) {
            height: 32px;
            margin-bottom: 20px;
        }
        @include media($tablet) {
            margin-bottom: 24px;
        }
        @include media($desktop) {
            margin-bottom: 16px;
        }
        @include media($large) {
            height: 36px;
            margin-bottom: 24px;
        }
    }

    .search-input {
        flex: 1 1 100%;
        border: none;
        background: var(--ui-gray-hover);
        color: var(--ui-dark);
        transition: opacity 300ms linear;
        opacity: .5;
        @include fontText2;

        &:focus {
            outline: none;
            opacity: 1;
        }
    }

    .search-icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 10px;

        & svg {
            width: 16px;
            height: 16px;

            @include media($large) {
                width: 20px;
                height: 20px;
            }
        }
    }

    .top-list {
        @include fontButton;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include media($mobile) {
            margin-bottom: 20px;
        }
        @include media($tablet) {
            margin-bottom: 24px;
        }
        @include media($desktop) {
            margin-bottom: 16px;
        }
        @include media($large) {
            margin-bottom: 24px;
        }

        &__item {
            color: var(--ui-dark);
            transition: all 300ms linear;

            &:not(:last-child) {
                margin-right: 24px;
                @include media($large) {
                    margin-right: 28px;
                }
            }

            &:hover {
                cursor: pointer;
                color: var(--ui-red);
            }
        }
    }

    .cities-list {
        height: 384px;
        overflow: auto;
        padding-right: 24px;
        @include media($large) {
            height: 432px;
        }

        &__item {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 8px;
            border-radius: 4px;
            color: var(--ui-dark);
            transition: background 300ms linear;
            @include fontOnCalc;
            @include media($large) {
                height: 36px;
            }

            &:hover {
                cursor: pointer;
                background: var(--ui-gray-hover);
                @include fontTitle2;
            }
        }

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: var(--ui-gray);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--ui-red);
            border-radius: 4px;
        }
    }
}
