@import "../../assets/styles/mixins/mixins";

.BasketOther {
    .basket-divider {
        @include media($tablet) {
            max-width: 728px;
        }
        @include media($desktop) {
            max-width: 620px;
        }
        @include media($large) {
            max-width: 720px;
        }
    }

    &__title {
        @include fontTitleButton;
        position: relative;
        transition: color 300ms linear;
    }

    &__items {
        display: flex;
        flex-flow: row nowrap;
    }

    &__scrollbar {
        width: 100%;
        padding: 0 28px;
    }

    .BasketOtherItem:not(:last-child) {
        margin-right: 20px;
    }

    .track-horizontal {
        height: 4px !important;
        left: 28px;
        right: 28px;
        bottom: 0;
        border-radius: 4px;
        background: var(--ui-gray);
    }

    .thumb-horizontal {
        height: 4px !important;
        border-radius: 4px;
        background: var(--ui-gray-secondary);
    }

    .track-vertical {
        display: none !important;
    }

    .view {
        overflow-y: hidden !important;
        overflow-x: auto !important;
        margin-right: 0 !important;
        margin-bottom: -19px !important;
    }
}