@import "../../assets/styles/mixins/mixins";

.PlugContent {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    font: 300 12px/16px 'Museo Sans Cyrl 300', sans-serif;

    &__apology, &__request {
        margin: 24px 0;

        &__text {
            color: var(--ui-red);
        }
    }
}
