@import "../../assets/styles/mixins/mixins";

.AuthModal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include media($mobile) {
        width: 296px;
    }
    @include media($tablet) {
        width: 360px;
    }
    @include media($desktop) {
        width: 264px;
    }
    @include media($large) {
        width: 320px;
    }

    &__wrap {
        .ant-modal-body {
            @include media($mobile) {
                padding: 44px 16px;
            }
            @include media($tablet) {
                padding: 56px 28px;
            }
            @include media($desktop) {
                padding: 48px;
            }
            @include media($large) {
                padding: 56px 48px 48px;
            }
        }
    }

    &__phone-input,
    &__code-input,
    &__captcha-wrapper {
        @include media($mobile) {
            width: 304px;
            margin-bottom: 24px;
        }
        @include media($tablet) {
            width: 360px;
        }
        @include media($desktop) {
            width: 304px;
            margin-bottom: 20px;
        }
        @include media($large) {
            width: 320px;
        }
    }

    &__captcha-wrapper {
        display: flex;
        justify-content: center;
    }

    &__submit-phone.CustomButton,
    &__submit-code.CustomButton {

        @include media($mobile) {
            height: 32px;
        }
        @include media($large) {
            height: 36px;
        }
    }

    &__resend.RowButton,
    &__edit-number.RowButton {
        margin-bottom: 20px;
    }

    &__resend.RowButton {
        margin-top: -12px;
    }

    &__edit-number.RowButton {
        margin-top: -20px;
    }

    .resend-icon,
    .edit-icon {
        margin-right: 10px;

        & svg {
            @include media($mobile) {
                width: 16px;
                height: 16px;
            }
            @include media($large) {
                width: 20px;
                height: 20px;
            }
        }
    }
}